<!DOCTYPE html>
<html>
<head><title>Administration: modification list</title></head>
<body>
    <ul>
        {% for item in modifList %}
            <li><a href="{{ path('admin_revision', { 'revID' : item.id }) }}">Preview ID#{{ item.id }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>