{% extends "layout.twig" %}

{% block title %}Guild Wars 2: Cartographers{% endblock %}

{% block content %}

<h1>GW2: Cartographers - Crowdsourcing tool</h1>
<p>Welcome to the crowdsourcing tool of <a href="http://gw2cartographers.com">GW2: Cartographers</a>, an interactive map for Guild Wars 2.</p>

<p>This tool is still under heavy construction but we're progressing quickly!</p>

<h2>Wanna help ?</h2>
<h3>Contributing to the map</h3>
<p>Just go to <a href="http://gw2cartographers.com">http://gw2cartographers.com</a>, make some modification thanks to the edit tool and submit your modification. We will review it as fast as we can.</p>
<h3>Contributing to the tool</h3>
<p>Reach our github repositories (GW2C / GW2C-crowdsourcing) and be a part of the project. Submit suggestions, report bugs, send PRs to improve the community's work with your awesomeness !</p>

{% endblock %}