<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8" />
    
    {% block assets %}
    {% endblock %}
</head>
<body>
    
    {% block menu %}
    {% endblock %}
    
    {% block content %}
    {% endblock %}
</body>
</html>