<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.css"> 
    <link rel="stylesheet" href="/assets/stylesheets/admin.css"> 
    {% block assets %}
    {% endblock %}
</head>
<body>
    
    {% block menu %}
    {% endblock %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="/assets/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>