<!DOCTYPE html>
<html>
<head><title>Test form to submit JSON</title></head>
<body>
    <form method="post" action="submit-modification">
        <textarea cols="100" rows="50" name="json">{{ jsonString }}</textarea>
        <input type="submit" value="Send" />
    </form>
</body>
</html>